html,
body {
    height: 100%;
    line-height: 1.5;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: #10171e;
    color: #fff;
    font-size: 20px;
    margin: 0;
}

p {
    line-height: 1.4em;
    margin: 0 0 30px;
    font-size: 30px;
}

img,
select {
    width: 100%;
}

#content-wrapper {
    padding: 0 15px;
    max-width: 1200px;
    margin: 45px auto 0;
}

.layout {
    display: grid;
    grid-template-areas:
        'content'
        'aside'
}

#main-content {
    grid-area: content;
}

#aside {
    grid-area: aside
}

.new-item a {
    text-decoration: none;
    color: #E81C4F;
}

.new-item__title {
    margin-top: 0;
    font-size: 40px;
}

.new-item--bottom {
    border-bottom: 1px solid #303030;
    margin-bottom: 30px;
}

.u-collor-primary {
    color: #E81C4F !important;
}

.u-non-list-style {
    list-style-type: none;
}

.u-collor-white {
    color: #fff !important;
}

#nav-link > ul {
    margin: 0;
    padding: 0;
}

#nav-link > ul > li:hover {
    background: #282c34;
}

#nav-link > ul > li > a {
    display: block;
}

#left-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-bottom: 35px;
}

.d-flex {
    display: flex;
}

.d-flex > * {
    flex: 1;
}

.d-inline {
    display: inline-block !important;
}

@media only screen  and (min-width : 1224px) {
    p {
        font-size: 20px;
    }

    .new-item__title {
        font-size: 30px;
    }

    .layout {
        display: grid;
        grid-template-areas: 'aside content';
        grid-template-columns: 220px auto;
        grid-column-gap: 45px;
    }

    #left-side {
        display: block;
    }
}

